* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #7a3493;
  background: radial-gradient(circle, #7a3493 0%, #45c8ed 50%, #474ed7 100%);

  .header-one {
    text-align: center;
    align-items: center;
    font-family: "Quicksand";
    font-weight: bolder;
    font-size: 5rem;
    margin: 5rem;
    padding: 2rem;
    border-radius: 1.5rem;
    position: relative;
    color: white;
  }

  main {
    margin: 1rem;
    padding: 3rem;
    border-radius: 1.5rem;
    color: #000000;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0.5rem);
    font-family: "Quicksand";
  }

  .search {
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    padding: 0 10rem 0 5rem;
    width: 90%;
    border-radius: 50rem;
  }

  .form-control {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    border-radius: 1.5rem;
    font-family: "Quicksand";
  }
  .card {
    color: #000000;
    margin: 2rem;
    background: -webkit-linear-gradient(#eee, rgba(116, 116, 116, 0.199));
    border-radius: 1.5rem;
    box-shadow: 0 0 0.5rem 0.1rem;
    font-family: "Quicksand";
  }
  .card-title {
    font-size: 2.5rem;
    font-family: "Quicksand";
  }

  #submit-btn {
    border-radius: 1rem;
    font-size: 2rem;
    color: rgb(14, 14, 14);
    font-family: "Quicksand";
  }
  .btn {
    position: relative;
    background: #7a3493;
    background-size: 400% 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 0.25em;
    font-size: 1.3rem;
    font-family: "Quicksand";
    letter-spacing: 0.1rem;
    animation: Gradient 5s ease infinite;
    text-decoration: none;
  }

  .btn div {
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    animation: 4s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
  }

  .btn::after {
    content: "";
    position: absolute;
    animation: inherit;
    height: 100%;
    filter: blur(1rem);
  }

  footer {
    color: white;
    padding: 2rem 0 0 0;
    .footer-h2 {
      text-align: center;
      align-items: center;
      font-size: 2rem;

      a {
        color: #7a3493;
        font-weight: bold;
      }
    }
  }
}
