* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #242323;
}

.header-one {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  margin: 5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  position: relative;
  color: white;
  font-family: "Permanent Marker", cursive;
}

#header-two {
  font-size: 4rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem;
  padding: 0 10rem 0 5rem;
  width: 90%;
  border-radius: 50rem;
  font-family: "Permanent Marker", cursive;
}

main {
  margin: 1rem;
  padding: 3rem;
  border-radius: 1.5rem;
  color: #000000;
  background: -webkit-gradient(linear, right top, left top, from(#ee7752), color-stop(#e73c7e), color-stop(#23a6d5), color-stop(#23d5ab), to(#ee7752));
  background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752);
}

.form-control {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  font-family: "Patrick Hand", cursive;
}

.card {
  color: #000000;
  margin: 2rem;
  background: -webkit-linear-gradient(#eee, #747474);
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem;
          box-shadow: 0 0 0.5rem 0.1rem;
}

.card-title {
  font-size: 2.5rem;
  font-family: "Patrick Hand", cursive;
}

#submit-btn {
  border-radius: 1rem;
  font-size: 2rem;
  color: #fffdfd;
  font-family: "Permanent Marker", cursive;
}

.btn {
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(#ee7752), color-stop(#e73c7e), color-stop(#23a6d5), color-stop(#23d5ab), to(#ee7752));
  background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752);
  background-size: 400% 100%;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 0.25em;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  -webkit-animation: Gradient 4s ease infinite;
          animation: Gradient 4s ease infinite;
  text-decoration: none;
}

.btn div {
  color: black;
  min-height: 40px;
  padding: 0 1.618em;
  border-radius: inherit;
  background-size: inherit;
  background-image: inherit;
  -webkit-animation: Gradient 4s ease infinite;
          animation: Gradient 4s ease infinite;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
  font-family: "Helvetica Neue";
}

@-webkit-keyframes Gradient {
  50% {
    background-position: 140% 50%;
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
}

@keyframes Gradient {
  50% {
    background-position: 140% 50%;
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
}

.btn::after {
  content: "";
  position: absolute;
  background-size: inherit;
  background-image: inherit;
  -webkit-animation: inherit;
          animation: inherit;
  left: 0px;
  right: 0px;
  top: 2px;
  height: 100%;
  -webkit-filter: blur(1rem);
          filter: blur(1rem);
}

footer {
  color: white;
  margin: 3rem 5rem 5rem;
  padding: 3rem;
  border-radius: 1.5rem;
  background: -webkit-linear-gradient(#292929, #3d3d3d);
  color: #fcfcfc;
}

h2 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}
/*# sourceMappingURL=styles.css.map */